@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

table {
  table-layout: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}
