@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --link-color: #047aed;
  --link-color-dark: rgb(230, 15, 25);
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

table {
  table-layout: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}

.post-content p, li {
  margin-bottom: .5rem;
}

.post-content h1 {
  padding: 1rem 0;
  font-size: 2rem
}

.post-content a {
  color: var(--link-color) !important;
}

.post-content a:hover {
  text-decoration: underline  ;
}

.dark .post-content {
  color: white;
}

.dark .post-content a {
  color: var(--link-color-dark) !important;
}
